@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.app {
    width: 100%;
    height: 100vh;
}

.app-body {
    height: 85%;
    width: 100%;
    /* border: 1px solid black; */
    /* background-color: rgba(212, 212, 212, 0.562); */
}

a {
    text-decoration: none;
    color: black;
}