@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.header {
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 6.1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px dashed rgb(0, 17, 255);
}

.header .logo-container {
    width: 4.7rem;
    height: 4.7rem;
    margin-left: 2rem;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 10px rgb(114, 114, 114);
}

.header .logo-container img{
    width: inherit;
    height: inherit;
}

.header .title{
    margin-left: 2rem;
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    font-weight: 600;
}