.login-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.login-form {
    width: 23rem;
    height: 18rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    background-image: linear-gradient(45deg, rgba(195, 0, 255, 0.507), rgba(17, 0, 255, 0.493));
    box-shadow: 1px 1px 20px rgb(148, 148, 148);
}

.login-form > input{
    height: 2.2rem;
    border-radius: 5px;
    border: none;
    padding: 0.1rem 1rem;
    margin: .5rem 0rem;
    border: 1px solid #d7ffff;
}  

.login-form > input:focus{
    outline: none;
    box-shadow: 1px 1px 3px black;
} 

.login-form > h1{
    text-align: center;
}

.login-form button {
    width: 5rem;
    height: 2rem;
    margin: .6rem auto 0rem auto;
    background-color: rgba(0, 255, 0, 0.767);
    border: 1px solid rgb(187, 187, 187);
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgb(77, 77, 77);
}

.login-page .text-btn {
    margin-top: 1rem;
    display: inline-block;
    background-color: transparent;
    border-style: none;
}

.login-page .text-btn span {
    color: blue;
}

@media screen and (max-width: 410px) {
    .login-form {
        max-width: 20rem;
    }
}

@media screen and (max-width: 358px) {
    .login-form {
        width: 17rem;
    }
}